{% extends 'projects/pages/main.html' %}

{% block item-content %}
<div class="">
    <h3 class="mb-3">Project : {{ project.name }}</h3>
    <div class="virus-row col-md-6 col-12 ml-auto">
        <div class="btn-group ml-auto" role="group" aria-label="Project Detail Tab">
            <a class="btn btn-outline-secondary virus-button-style {% block tasks-class %}{% endblock %}" href="{% block tasks-href %}{% url 'project-tasks' pk=project.pk %}{% endblock %}">업무</a>
        </div>
        {% if user == project.project_manager %}
        <div class="btn-group ml-2" role="group" aria-label="Project Edit Tab">
            <a class="btn btn-outline-secondary virus-button-style" href="{% url 'project-update' pk=project.pk %}">수정</a>
            <a class="btn btn-outline-secondary virus-button-style" href="{% url 'project-directors' pk=project.pk %}">멤버 편집</a>
        </div>
        {% endif %}
        {% if user == project.project_manager %}
        <div class="btn-group ml-2" role="group" aria-label="Project Edit Tab">
            <a class="btn btn-outline-secondary virus-button-style danger" href="{% url 'project-delete' pk=project.pk %}">삭제</a>
        </div>
        {% endif %}
    </div>
</div>
<hr></hr>
{% block detail-content %}
<div class="py-3">
    <h5 class="text-bold">총괄 디렉터</h5>
    <p>{{ project.project_manager.first_name }}({{ project.project_manager.username }})</p>
</div>
<div class="py-3">
    <h5 class="text-bold">등록일시</h5>
    <p>{{ project.published_date }}</p>
</div>
<div class="py-3">
    <h5 class="text-bold">프로젝트 참여 가능 범위</h5>
    <p>{{ project.get_secure_level_display }}</p>
</div>
<div class="py-3">
    <h5 class="text-bold">프로젝트 멤버</h5>
    {% if project.directors.all %}
    {% for director in project.directors.all %}
    <p><span>{{ director.first_name }}({{ director.username }})</span></p>
    {% endfor %}
    {% else %}
    <p>등록된 프로젝트 멤버가 없습니다.</p>
    {% endif %}
</div>
<div class="py-3">
    <h5 class="text-bold">프로젝트 설명</h5>
    {% if project.description %}
    <p>{{ project.description }}</p>
    {% else %}
    <p>프로젝트에 대한 설명이 없습니다.</p>
    {% endif %}
</div>
<div class="py-3">
    <h5 class="text-bold">프로젝트 예산</h5>
    {% if project.budget %}
    <p>{{ project.budget }}원</p>
    {% else %}
    <p>아직 프로젝트 예산을 배정 받지 못했습니다.</p>
    {% endif %}
</div>
<div class="py-3 text-center">
    <a class="btn btn-link virus-button-style" href="{% url 'projects-main' %}">&#10149; 리스트로 돌아가기</a>
</div>
{% endblock %}
{% endblock %}
